body.home{ /* .home s'applique uniquement à l'accueil */

    height : 500vh;
    width : 100vw;
    overflow-x :hidden;
}



.home {
    #primary {
        width: 100vw;
        margin : 0;

        header {
           
            text-align: center;
        }
    }

} 

.site-title {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    text-align: center;
    a {
        text-decoration: none;
        color: red;
    }
}

.site-description { /* "Un site utilisant wordpress */
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
    text-align: center;
    color: black;
}

.home .entry-header {
    font-size : clamp(.6rem, #{"-0.875rem + 8.333vw"},3rem);
}


.page-header .page-title {
    margin-top: 55px;
}

/* --------------------------------------------------------------------------------------- 
Liste des blocs de cours par type_de_cours
------------------------------------------------------------------------------------------ */
.home .cours {
    display : flex;
    flex-direction: column;
    h2 {
        text-align: center;
        
    }
    section.bloc {
       
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        article {
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border : 1px solid #aaa;
            width : 95%;
            margin : 1%;
            padding  : 1rem;
            text-align : center;
            p {
                margin: .4rem;
                font-size: 1rem;
            }
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }
        @include tablet {
            article {
                width : 47%;
                margin : 1%;
            }
        }
        @include desktop {
            article {
            width : 31%;
            margin : 1%;
            }
        }
    }
}

.nouvelles {
@include desktop {
    
    margin: 2% 4% 2% 3%;
}
    
}
#annonce {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

